<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Connection
    ServerIp = "127.0.0.1"
    Database = "DATABASE"
    Username = "knEKd1kKK2zKcgU+NpVfxQ=="
    Password = "yK1EB/awGMsb/150Wvc1sg=="
  />
</Settings>